<style>

     @media (max-width: 768px) { 
           .top{
               font-size: 10px; 
               padding:0px;
               margin-right:5px;
           }
           .infomation{font-size: 10px;}
        }
        
        @media (min-width: 1200px) { 
            .top{
                font-size: 21px; 
                margin-right: 60px;
            }
            .top1{margin-left: 60px;}
            
        }   
        
    
</style>



<div id="tf-footer" style = "background-color:#523738;">
        <div class="container bold"><!-- container -->
            <div class = "row" style = "text-align:center;">
                <div class = "col-md-12" style = "text-align:center;">
                    <span class = "top top1"><a href = "/home/who_are_you" style="cursor:pointer">서비스소개</a></span>
                    <span class = "top"><a href = "/home/info" style="cursor:pointer">자주묻는질문</a></span>
                    <span class = "top"><a href = "/home/agreement" style="cursor:pointer">이용약관</a></span>
                    <span class = "top"><a href = "/home/privacy" style="cursor:pointer">개인정보 처리방침</a></span>
                    <span class = "top"><a href = "/home/manager" style="cursor:pointer">사장님 페이지</a></span>
                </div>
            </div>
            <br><br>
            <div claass = "row intro" style = "text-align: center;">
            <p>자취요리연구소 | 대표 : 백승민</p> 
            <p>사업자등록번호 : 812-04-00508</p>
            <p>통신판매업신고 : 제2016-광주동구-0204호</p> 
            <p>주소 : 광주광역시 동구 동계천로 150, I-PLEX 107호</p>
            <p>이메일 : contact@zachiyori.com</p> 
            <p>전화문의 :
                0507-1402-1732
            </p>
            <p class = "infomation">자취요리연구소는 통신판매중개자이며 통신판매의 당사자가 아닙니다. <br> 따라서 자취요리연구소는 상품 거래정보 및 거래에 대해 책임지지 않습니다.</p>
            <p>© 자취요리연구소. All rights reserved. </p> <!-- copyright text here-->
            </div>
            <ul class="list-inline social" style = "text-align:center;">
                <li><a href="https://www.facebook.com/zachiyori/" target="_blank"><i class="fa fa-facebook"></i></a></li> <!-- Change # With your FB Link -->
                <li><a href="https://www.instagram.com/platolab/" target="_blank"><i class="fa fa-instagram" target="_blank"></i></a></li> <!-- Change # With your LinkedIn Link -->
                <li><a href="http://blog.naver.com/dellose/220768906710" target="_blank"><i class="fa fa-pinterest" target="_blank"></i></a></li> <!-- Change # With your Pinterest Link -->
            </ul>
        </div><!-- end container -->
    </div>