<form action = "/home/practice" method = "get">
    <input type = "text" name = "address">
    <input type = "submit">
</form>




  <br><br>
  <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>검색주소</th>
          <th>판매마트</th>
        </tr>
      </thead>
      <tbody>
        <% if params[:address].nil? %>
            주소를 검색해주세요!
        <% else %>
            <% @address.each do |x| %>
            <tr>
              <th scope="row">1</th>
              <td><%= x.ok_address %></td>
              <td><%= Mart.where(:id => x.mart_id).take.mart_name %></td>
            </tr>
            <% end %>
        <% end %>  
      </tbody>
    </table>
    <%= will_paginate @address %>
 
 
 
 
 



