
 
<p></p>
 
<select id="single">
  <option>Single</option>
  <option>Single2</option>
  <option>dfdfdf</option>
</select>
 
<script>
    function displayVals() {
      var singleValues = $( "#single" ).val();
      $( "p" ).html(singleValues);
    }
     
    $( "select" ).change( displayVals );
    displayVals();
</script>
 