<style>
    .buttonlink{
	display:block;
	border-style:solid;
	border-color:#bbb #888 #666 #aaa;
	border-width:3px 4px 4px 3px;
	width:9em;
	height:2em;
	background:#ccc;
	color:#333;
	line-height:2;
	text-align:center;
	text-decoration:none;
	font-weight:900;
}
.buttonlink:hover{
	border-color: #666 #aaa #bbb #888;
	border-width:4px 3px 3px 4px;
	color:#000;
}
</style>
<div class = "container">
    <div class = "row">
            <div class = "row noto_regular" style = "margin-bottom:40px;">
                <div class = "col-md-4 col-xs-6 method_div">
                    <div class = "card" style = "cursor:pointer; background-color:#ecf0f1; border-radius:5px; border-style:solid; border-width:1px; display:inline-block; color:#9b9b9b; display: table; border-style: hidden; ">
                        <div style = "text-align:center; display: table-cell; vertical-align: middle; font-size:16px;  ">신용카드</div>
                    </div>
                </div>
                <div class = "col-md-4 col-xs-6 method_div">
                    <div class = "kakao" style = "cursor:pointer; background-color:#ecf0f1; border-radius:5px; border-style:solid; border-width:1px; display:inline-block; color:#9b9b9b; display: table; border-style: hidden; ">
                        <div  style = "text-align:center; display: table-cell; vertical-align: middle; font-size:16px;  ">카카오페이(간편결제)</div>
                    </div>
                </div>
                <div class = "col-md-4 col-xs-6 method_div">
                    <a class="button" href="#" value ="kakao">
                        <div class = "credit" style = "cursor:pointer; background-color:#ecf0f1; border-radius:5px; border-style:solid; border-width:1px; display:inline-block; color:#9b9b9b; display: table; border-style: hidden; ">
                            <div  style = "text-align:center; display: table-cell; vertical-align: middle; font-size:16px;  ">간편결제</div>
                        </div>
                    </a>
                </div>
                <div class = "col-md-4"></div>
            </div>    
    </div>
</div>

                        
                        <a>
                            wow
                        </a>
                        
                        <a class="buttonlink" href="#">
                            Button Link
                        </a>
                        
                        
                        
                        
                        
                        
                        <div class = "card1" value ="card" style = "cursor:pointer; background-color:#ecf0f1; border-radius:5px; border-style:solid; border-width:1px; display:inline-block; color:#9b9b9b; display: table; border-style: hidden; ">
                            <div style = "text-align:center; display: table-cell; vertical-align: middle; font-size:16px;  ">신용카드</div>
                        </div>
                        
                        
                        <script>
                            $(document).ready(function(){
                                
                                
                               $(".nice").click(function() {
                                    alert($(".nice").attr("value"));
                                });
                                
                                
                                
                            });
                            
                            
                        </script>