<p>안녕하세요. <%= @resource.email %>님!</p>

<p>자취요리연구소입니다</p>

<p>패스워드변경요청하셔서 메일 드렸습니다.</p>

<p>아래 링크 클릭하시면 새로운 패스워드 설정하실 수 있으세요!</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>*만약 저희 사이트에서 이런 요청을 한적이 없다면 가볍게 메일 삭제해 주세요 ㅠㅠ</p>

<p>*회원님의 패스워드는 이 링크를 통해 바꾸기 전까지는 기존 패스워드가 유지됩니다.</p>


<p>- 전국 최초 자취생을 위한 레시피 연계 정량의 식자재 주문대행 서비스, 자취요리연구소 드림 -</p>
