<!DOCTYPE html>
<html>
<head>
    
   <link href='//fonts.googleapis.com/earlyaccess/jejugothic.css' rel='stylesheet' type='text/css'>
   <!-- 나눔고딕R 수정필요 -->
   <link href='//googledrive.com/host/0BxmAw3HA4YGCfmhCUFc0SGdQbVlJcllDU2NPYUp6WlFDT1RPem5Eb2lMZm16c0R4N0J2VVU/nanum-barun-gothic-regular.css' rel='stylesheet' type='text/css'>
   <!-- Noto Sans  -->
   <link href='//fonts.googleapis.com/earlyaccess/notosanskr.css' rel='stylesheet' type='text/css'>
   
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>자취요리연구소</title>
    <meta name="naver-site-verification" content="0345314b9626ffe528a229ade245a7feb5270f00"/>
    <meta name="description" content="요리가 편해진다! 자취생을 위한 레시피 및 식재료 주문대행서비스입니다." />
    <meta name="Keywords" content="주문대행,자취,자취생,자취요리,자취음식,레시피,요리,음식,1인가구" />
    <meta name="author" content="zachiyori.com">
    
    <!-- Jquery CDN -->
    <script  src="//code.jquery.com/jquery-latest.min.js"></script>
    <!-- Boostrap CDN -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- font awesome -->
    <script src="//use.fontawesome.com/4f21ea7504.js"></script>
    <!-- 테마 css -->
    <link rel="stylesheet" type="text/css"  href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/responsive.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <!-- Hotjar Tracking Code for www.zachiyori.com -->
    <script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:355599,hjsv:5};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
    
  <%= csrf_meta_tags %>
  
  <style>
       @media (max-width: 768px) { 

        .navbar-brand img {height:40px;}
        .navbar-brand{padding-top:10px;}
        
    }
    
    @media (min-width: 1200px) { 
        .get_cook { display: none; }
        
        .navbar-brand img {height:60px;}
        .navbar-brand{padding-top:2px;}
        
        .up_step li:first-child{margin-left:200px;}
    }

          
      .bold{
          /*font-family:nanum-barun-gothic-bold !important; */
          font-family: 'Jeju Gothic', serif;

      }
      .regular{
          font-family:nanum-barun-gothic-regular !important;
      }
      .noto{
          font-family:'Noto Sans KR'; 
          font-weight: 700;
      }
      .noto_regular{
          font-family:'Noto Sans KR'; 
          font-weight: 400;
      }
  </style>
  
</head>
<body>

<%= yield %>
    
    
<!-- google 통계 -->    
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-86008090-1', 'auto');
  ga('send', 'pageview');
</script>
</body>
</html>
